html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background-image: url(image/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide{
    display: none;
}

.car,
.enemy{
    width: 75px;
    height: 152px;
    background: transparent url(image/player.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.gameArea{
    width: 450px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: #5d5d5d;
    overflow: hidden;
}

.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: #fff;
    left: 215px;
}

.start,
.score{
    position: absolute;
    width: 502px;
    left: 700px;
    margin: 0;
    text-align: center;
    z-index: 200;
    font-size: 35px;
    cursor: pointer;
}


.start{
    top: 40%;
    color: #fbead8;
    padding: 50px 0;
    background: #000;
    font-weight: 700;
    font-family: fantasy;
}

.score{
    top: 0;
    color: tomato;
    padding: 20px 0;
    background: radial-gradient(black, transparent);
    font-weight: 400;
    font-family: monospace;
}