html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.game{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container__wrapper{
    background-image: url(image/bg.png);
    background-repeat: unset;
    background-size: 100%;
}

.hide{
    display: none;
}

.car,
.enemy{
    width: 65px;
    height: 140px;
    background: transparent url(image/player.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.gameArea{
    width: 450px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: #5d5d5d;
    overflow: hidden;
    border-left: 3px solid #242424;
    border-right: 3px solid #242424;
}

.line{
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: #fff;
    left: 215px;
}

.start,
.score,
#topScore{
    position: absolute;
    width: 245px;
    height: 66px;
    margin: 0;
    text-align: center;
    z-index: 200;
}

.start{
    top: 40%;
    left: 43%;
    color: #fbead8;
    padding: 25px 0;
    font-weight: 700;
    font-family: fantasy;
    font-size: 50px;
}

.score,
#topScore{
    top: 5px;
    color: tomato;
    padding: 15px 0;
    background: #548241;
    font-weight: 400;
    font-family: monospace;
    font-size: 20px;
    left: 23%;
    border-radius: 10px;
}
#topScore{
    left: 63.2%;
}
.btn{
    padding: 10px 17px;
    display: block;
    margin: 17px auto;
    color: #fbead8;
    background-color: #242424;
    border: 2px solid #5d5d5d;
    border-radius: 5px;
    font-size: 18px;
    width: 110px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover{
    background-color: #91c573;
    border: 2px solid #548241;
}

@media (max-width: 1500px) {
    .start,
    .score{
        left: 42%;
    }
    .gameArea {
        width: 420px;
    }
}

@media (max-width: 1350px) {
    .start,
    .score{
        left: 41%;
    }
    .line {
        left: 200px;
    }
}

@media (max-width: 1220px) {
    .start,
    .score{
        left: 40%;
    }
    .car,
    .enemy{
        width: 60px;
        height: 132px;
    }
}

@media (max-width: 1050px) {
    .start,
    .score{
        left: 38%;
    }
    .gameArea {
        width: 380px;
    }
    .line {
        left: 180px;
    }
    .car,
    .enemy{
        width: 60px;
        height: 132px;
    }
}

@media (max-width: 920px) {
    .start,
    .score{
        left: 36%;
    }
    .start {
        font-size: 40px;
        padding: 23px 0;
    }
}

@media (max-width: 800px) {
    .start,
    .score{
        left: 34%;
    }
    .gameArea {
        width: 350px;
    }
    .line {
        left: 170px;
    }
}

@media (max-width: 670px) {
    .start,
    .score{
        left: 31%;
    }
    .start {
        font-size: 35px;
        padding: 18px 0;
    }
    .gameArea {
        width: 290px;
    }
    .line {
        left: 140px;
    }
}

@media (max-width: 600px) {
    .start,
    .score{
        left: 27%;
    }
}

@media (max-width: 500px) {
    .start,
    .score{
        left: 24%;
    }
}

@media (max-width: 435px) {
    .start,
    .score{
        left: 20%;
    }
    .gameArea {
        width: 275px;
    }
    .line {
        left: 130px;
    }
    .car,
    .enemy{
        width: 50px;
        height: 118px;
    }
}

@media (max-width: 385px) {
    .start,
    .score{
        left: 16%;
    }
}

@media (max-width: 350px) {
    .start,
    .score{
        left: 13%;
    }
}
